@media (min-width: 320px) {
  .container {
    width: 90%;
  }

  .contact-me ul {
    columns: 1;
  }

  .menu li {
    padding-left: 10px;
  }
}

@media (min-width: 641px) {

}

@media (min-width: 961px) {
  .container {
    width: 750px;
  }

  .contact-me ul {
    columns: 2;
  }

  .menu li {
    padding-left: 40px;
  }
}