/* celulares */

@media (min-width: 320px) {
  .container {
    width: 90%;
  }

  .contact-me ul {
    columns: 1;
  }

  .sidebar {
    width: 50px;
  }

  .sidebar.active { flex-direction: column; position: relative; }
  .sidebar.active i.fa-bars { display: none; }
  .sidebar i.close { display: none; }
  .sidebar.active i.close { position: absolute; right: 0; top: 0; display: block; }
  .sidebar .menu { display: none; }
  .sidebar.active .menu { display: block; }

  .sidebar .menu li {
    padding-left: 10px;
  }

  .main {
    width: calc(100% - 50px);
  }
}

/* tablets */

@media (min-width: 641px) {
  .sidebar {
    width: 30% !important;
    flex-direction: column;
  }

  .main {
    width: 70%;
  }

  .sidebar i { display: none !important; }

  .sidebar .menu { display: block; }
  
}


/* desktop */

@media (min-width: 961px) {
  .container {
    width: 750px;
  }

  .contact-me ul {
    columns: 2;
  }

  .menu li {
    padding-left: 40px;
  }
}