@media (min-width: 641px) {
  .container {
    width: 90%;
  }

  .contact-me ul {
    columns: 1;
  }

}

@media (min-width: 961px) {
  .container {
    width: 750px;
  }

  .contact-me ul {
    columns: 2;
  }
}