@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lobster&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Titillium Web';
  color: #929292;
  background: #fbfbfb;
}

h2 {
  margin-bottom: 10px;
  font-size: 25px;
}

h3 {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #4c236c;
}

.container {
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
  background: #fff;
  min-height: 450px;
}

.sidebar {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main {
  box-shadow: -7px 0 8px -5px #ccc;
}

.main > header {
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #e0cbf0, #5a1d89 90%, #4c236c);
  border-radius: 0px 5px 0px 0px;
  color: white;
}
.main > header img { margin-bottom: 15px; }
.main > header h1 { text-align: center; font-size: 12px; }

.main > header a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.main > header a:hover {
  text-decoration: underline;
}

.main header img {
  border-radius: 100px;
  width: 150px;
  border: 5px solid white;
}

/* Menu */

.menu li {
  border-left: 5px solid transparent;
  padding: 15px 0;
}

.menu li:hover {
  border-left: 5px solid #5a1d89;
  background: rgba(1,1,1, 0.04);
  cursor: pointer;
}

.menu li a {
  color: #929292;
  text-decoration: none;
}

.main section header {
    height: 150px;
    display: flex;
}

.main section header ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.hide { display: none; }

.contact-me li {
  padding: 10px;
  display: flex;
  align-items: center;
}

.contact-me li:hover i {
  color: #502274;
}

.contact-me li i {
  font-size: 25px;
}

.contact-me li span,
.contact-me li a {
    padding-left: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #929292;
}

.main section {
  padding: 20px;
}

/* skills */

.skills ul li > div {
  border-bottom: 2px solid #eaeaea;
  padding: 5px;
  display: flex;
}

.skills ul li:last-child > div {
  border-bottom: none;
}

.skills ul div > div {
  width: 100%;
  font-size: 30px;
  display: flex;
  align-items: center;
  color: #4c236c;
  flex-wrap: wrap;
}

.skills ul p {
  text-align: center;
  padding: 10px;
  min-width: 100px;
  color: #4c236c;
  font-weight: bold;
}

.skills ul p i {
 display: block;
 font-size: 30px;
 margin-bottom: 5px;
}

.active {
  -webkit-transform: translateX(350px);
  -moz-transform: translateX(350px);
  -o-transform: translateX(350px);
  -ms-transform: translateX(350px);
  transform: translateX(350px);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}